{% extends "main_template.html" %}

    <!-- background colors -->
    {% block main_container %}
        <!-- div가 열로 나누어지지 않는 이유 - 열로 나누려면 head에 관련 코드(css)를 넣어줘야 함 -->
        <div class="bg-primary">bg-primary</div>
        <div class="bg-success">bg-success</div>
        <div class="bg-info">bg-info</div>
        <div class="bg-warning">bg-warning</div>
        <div class="bg-danger">bg-danger</div>
        <div class="bg-secondary">bg-secondary</div>
        <div class="bg-dark">bg-dark</div>
        <div class="bg-light">bg-light</div>

    {% endblock %}

    {% block footer %}
    {% endblock %}

