<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="gadgets/buttons">gadgets-buttons</a></li>
            <li class="nav-item"><a href="gadgets/cards">gadgets-cards</a></li>
            <li class="nav-item"><a href="gadgets/colors">gadgets-colors</a></li>
            <li class="nav-item"><a href="gadgets/containers">gadgets-containers</a></li>
            <li class="nav-item"><a href="positionings/forms">positionings-forms</a></li>
            <li class="nav-item"><a href="positionings/grids">positionings-grids</a></li>
            <li class="nav-item"><a href="positionings/standards">positionings-standards</a></li>
            <li class="nav-item"><a href="positionings/tables">positionings-tables</a></li>
        </ul>
    </nav>
</body>
</html>